@import "~react-arsenal/colors"; // Import minimal colors
@import "./palette";
@import "mixins";
$color-primary: $theme-blue;
$color-secondary: $theme-red;
$color-text: $theme-grey-white;
$color-p: $palette-grey-500;

// variables
$font-blackcond: Futura PT,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
$font-bold: "Interstate-Bold", sans-serif;
$font-boldcond: "Interstate-BoldCond", sans-serif;
$font-reg: "Interstate-Regular", sans-serif;

$font-title: "Interstate-BlackCond", sans-serif;
$font-copy: "Open Sans", sans-serif;
