// export default {
//   root: {
//     height: '200px'
//   }
// };
@import "../../app/theme/theme";

.root {
  height: 200px;
  background-color: $color-p;
  > * {
    background-color: $color-dark-contrast;
    padding: 10px;
    margin: 10px;
  }
}
