@import "./config";

html,
body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.root {
  width: 100%;
}

.head {
  background-color: $color-primary;
  color: $color-text;
  display: flex;
  max-width: 940px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .icon {
    height: 50px;
    width: 50px;
  }
}

.headblock {
  background-color: $color-primary;
}

.maincontent {
  font-family: $font-blackcond;
  font-size: 18px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: 40px;
}

.hero {
  color: $color-p;
  background-color: $color-dark-contrast;
  border: 1px $color-light-contrast;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  p {
    line-height: 1.5;
    padding: 20px;
    text-align: center;
  }
}
