@import "../../theme/theme";

.footerblock {
  background-color: $color-p;
  color: $color-dark-contrast;
  height: 50px;
  position: relative;
  width: 100%;
  p {
    margin: 0 auto;
    max-width: 940px;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
}
